// 统一业务模块的input select time date 的宽度

$width: 215px;

.el-select {
    width: $width;
}

.el-input {
    width: $width;
}

.el-textarea {
    width: 100%;
}

.el-number {
    width: $width;
}
.el-input-number{
  width: $width;
}